<div class="flex-box flex-box-big">
  <h2>Upcoming Appointments</h2>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Date</th>
        <th>Patient</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Today at 10:00 am</td>
        <td><a href="javascript:void()">Danielle Steel</a></td>
        <td><button>Start</button>&nbsp;<button>Cancel</button></td>
      </tr>
      <tr>
        <td>Today at 6:00 pm</td>
        <td><a href="javascript:void()">Mark Twain</a></td>
        <td><button>Start</button>&nbsp;<button>Cancel</button></td>
      </tr>
      <tr>
        <td>Tomorrow at 12:00 pm</td>
        <td><a href="javascript:void()">John Updike</a></td>
        <td><button>Start</button>&nbsp;<button>Cancel</button></td>
      </tr>
      <tr>
        <td>Friday at 11:00 am</td>
        <td><a href="javascript:void()">Margaret Atwood</a></td>
        <td><button>Start</button>&nbsp;<button>Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>