<header class="secondary-navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <%= image_tag("menu-white.png") %>
    </a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <%= content_tag :li, link_to("Appointments", home_provider_path(current_user)), class: "nav-link #{css_class_active_for(home_provider_path(current_user))}" %>
        <%= content_tag :li, link_to("Calendar", calendar_provider_path(current_user)), class: "nav-link #{css_class_active_for(calendar_provider_path(current_user))}" %>
        <%= content_tag :li, link_to("Profile", edit_provider_path(current_user)), class: "nav-link #{css_class_active_for(edit_provider_path(current_user))}" %>
      </ul>
    </div>

  </div>
</header>
