#calendar-tools {

  @extend .flex-box;
  @include span-columns(3);

  text-align: center;

  .button {
  
    @include span-columns(12);
    
    width: 100%;
    margin-bottom: .5em;

  }

}

#calendar-container {

  @extend .flex-box;
  @include span-columns(9);

}

.fc {

  table {
    margin: 0;
  }

  th {
    padding: 0;
  }

  td {
    padding: 0;
  }

}

.fc-event {
  
  background: $accent-color;

}
