form {

  .input-group {

    @include outer-container;

    margin-bottom: 1em;

    input {

      margin-bottom: 0;
      
    }
  
    &.inline {

      label {

        @include span-columns(12);

      }

      .input {

        @include span-columns(3);
        
      }

    }

  }
  
  .error {

    @include span-columns(3);

    color: $error-color;

  }

  .field_with_errors {

    input, select {
      background-color: $light-red;
    }

  }
  
}

.solo-form {

  @include span-columns(4);
  @include shift(4);

  h2 {
    margin-bottom: $base-line-height / 3;
    text-align: center;
  }

  .input {
    margin-bottom: $base-line-height / 2;
  }

  input {
    width: 100%;
    margin: 0px;
  }

  .other-actions {
    margin-top: $base-line-height;
    text-align: center;
    line-height: $base-line-height * 1.5;
  }

}
