$horizontal-bar-mode: $large-screen;
$navigation-height: 60px;
$navigation-color: white;
$navigation-padding-left: .5em;

$secondary-navigation-height: 40px;

header.primary-navigation {
  
  @extend header.navigation;

  min-height: $navigation-height;
  background: $primary-navigation-background-color;
  padding-left: $navigation-padding-left;
  border-bottom: none;

  .nav {

    min-height: $navigation-height;

  }
  
  color: $navigation-color;

  .logo {
    font-size: 1.5em;
    line-height: $navigation-height;

    @include media ($horizontal-bar-mode) {

      padding-left: 0px;

    }

  }

  ul {

    li.nav-link {

      line-height: $navigation-height;

    }

  }

  .navigation-tools {

    clear: none;
    float: right;
    background: transparent;

    a {
      color: $navigation-color;
      line-height: $navigation-height;

      &:hover {
        text-decoration: underline; 
      }

    }

  }

}

header.secondary-navigation {
  
  @extend header.navigation;

  min-height: $secondary-navigation-height;
  border-bottom: none;
  padding-left: $navigation-padding-left;
  color: $secondary-text-on-dark-color;
  background: $secondary-navigation-background-color;

  .nav {

    min-height: $secondary-navigation-height;

  }

  ul {

    li.nav-link {

      line-height: $secondary-navigation-height;

      a{
  
        color: $secondary-text-on-dark-color;

        @include media ($horizontal-bar-mode) {
          padding-right: 0em;
          margin-right: 1em;

        }

      }



      &.active {

        background: lighten($secondary-navigation-background-color, 10%);

        a {

          @include media ($horizontal-bar-mode) {

            border-bottom: 5px solid $secondary-text-on-dark-color;

          }

        }

        @include media ($horizontal-bar-mode) {

          background: transparent;  

        }

      }

    }

  }

  .navigation-menu-button {

    line-height: $secondary-navigation-height;

    img {

      width: 30px;
      padding-top: $secondary-navigation-height / 2;

    }

  }

}