button,
input[type="submit"],
a.button {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: $base-button-text-color;

  &:hover {
    color: $hover-button-text-color;
  }
  
}
