<% content_for :secondary_nav_content do %>
<ul id="js-navigation-menu" class="navigation-menu show">
  <li class="nav-link active"><a href="javascript:void(0)">Dashboard</a></li>
  <li class="nav-link"><a href="javascript:void(0)">Profile</a></li>
  <li class="nav-link"><a href="javascript:void(0)">Calendar</a></li>
</ul>
<% end %>

<%= render template: "layouts/application" %>