<div class="modal">
  <input class="modal-state" id="modal" type="checkbox"/>
  <div id="event" class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal"></label>
      Add Availability
      <%= render 'calendar_events/form' %>
    </div>
  </div>
</div>

<div id="tuck" style="visibility: hidden">HI</div>