<section class="intro-text hero">
  <h2 class="logotype">chat<em>md</em></h2>
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta rerum libero iste saepe.</h4>
  <%= link_to "I am a patient", new_user_registration_path, :class => "button", :method => :get  %>
  <%= link_to "I am a provider", new_provider_registration_path, :class => "button", :method => :get  %>
</section>
