// Place all the styles related to the CalendarEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .form-header {

    margin-bottom: 2em;

  }

  .form-inputs {

    @include outer-container();

    select {

      display: inline-block;

    }

    div.fancy-select {

      margin-top: 2em;
      margin-bottom: 2em;
      text-transform: none;

      div.trigger {

        @extend h3;

        background-color: transparent;
        width: auto;

      }

      select:focus + div.trigger {

        box-shadow: none;

      }

      ul.options {

        @extend h3;

        background-color: $base-background-color;
        border-top: none;
        width: 100%;

      }

      li {

        color: $base-font-color;

        &.selected, &.hover {

          color: white;
          background-color: $accent-color;

        }

      }

    }

    .input-group {

      @include span-columns(5 of 11);

      margin-bottom: 2em;

      .input {

        @include span-columns(6);

        input {

          margin-bottom: 0px;

        }

      }

    }

    .to {

      @include span-columns(1 of 11);

      text-align: center;
      line-height: 50px;

    }

  }

  .form-actions {

    text-align: right;  

  }
