
body.front-of-house,
.navigation {

  background-color: $front-of-house-background-color;
  color: $front-of-house-font-color;

  a{
    color: $front-of-house-link-color;

    &:hover {

        color: $front-of-house-hover-link-color;

    }
  }

  button,
  input[type="submit"],
  a.button {

    color: $front-of-house-link-color;
    
    &:hover {

      background-color: white;
      color: $front-of-house-hover-link-color;

    }

  }

}
