
#account-info {

  @extend .flex-box;
  @include span-columns(8); 

}

#security {

  @extend .flex-box;
  @include span-columns(4);

  a.button {
  
    display: block;
    width: auto;
    margin-bottom: 1.25rem;
    text-align: center;

  }

}
